# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_transaction_javax_transaction_api_1_2.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_4_2.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_11_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_4_3_11_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_2_13_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_cache_1_3_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_1_3_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_1_3_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_redis_1_3_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_11_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_9_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_1_8_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_redis_1_6_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_oxm_4_2_6_RELEASE.xml
.idea/libraries/Maven__redis_clients_jedis_2_7_3.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/mamahao-actsys.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
actsys-api/target/classes/com/
actsys-api/target/generated-sources/
actsys-api/target/generated-test-sources/
